@model System.Collections.Generic.IEnumerable<TestClient.Contact>?

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      <h2>Hello</h2>
</div>
</body>
</html>